:root {
    --p-main: #ff3d00;
    --p-light: #ff9e80;
    --p-dark: #dd2c00;
    --b-light: #f2f2f7;
    --b-dark: #cfd8dc;
    --t-light: #777777;
    --t-dark: #101418;
}

.services-container {
    padding: 20px 10px;
}

.service-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 300px;

    padding: 20px 20px;
    border-radius: 10px;
}

.service-icon {
    font-size: 40px;
    color: var(--p-main);
}

.service-title {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: var(--p-main);
    margin-bottom: 0;
}

.service-text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: var(--t-dark);
    margin-bottom: 0;
}

@media (max-width:575.95px) {
    .service-wrapper {
        width: 100%;
    }

    .service-icon {
        font-size: 30px;
        color: var(--p-main);
    }
}